@font-face {
	font-family:  'Lato-Black';
	src: url('../fonts/Lato-Black.eot');
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Black.svg') format('svg'),
		url('../fonts/Lato-Black.ttf') format('truetype'),
		url('../fonts/Lato-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BlackItalic';
	src: url('../fonts/Lato-BlackItalic.eot');
	src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-BlackItalic.svg') format('svg'),
		url('../fonts/Lato-BlackItalic.ttf') format('truetype'),
		url('../fonts/Lato-BlackItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.svg') format('svg'),
		url('../fonts/Lato-Bold.ttf') format('truetype'),
		url('../fonts/Lato-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BoldItalic';
	src: url('../fonts/Lato-BoldItalic.eot');
	src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-BoldItalic.svg') format('svg'),
		url('../fonts/Lato-BoldItalic.ttf') format('truetype'),
		url('../fonts/Lato-BoldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:  'Lato-Italic';
	src: url('../fonts/Lato-Italic.eot');
	src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Italic.svg') format('svg'),
		url('../fonts/Lato-Italic.ttf') format('truetype'),
		url('../fonts/Lato-Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:  'Lato-Light';
	src: url('../fonts/Lato-Light.eot');
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Light.svg') format('svg'),
		url('../fonts/Lato-Light.ttf') format('truetype'),
		url('../fonts/Lato-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:  'Lato-LightItalic';
	src: url('../fonts/Lato-LightItalic.eot');
	src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-LightItalic.svg') format('svg'),
		url('../fonts/Lato-LightItalic.ttf') format('truetype'),
		url('../fonts/Lato-LightItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:  'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.svg') format('svg'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.top {
	background: url('../img/bg-top.png');
	height: 10px;
}
header {
	position: relative;
	margin-top: -10px;
}
.logo {
	padding-top: 30px;
}
.logo img, .logo-text {
	display: inline-block;
}
.logo img {
	margin-top: -32px;
}
.logo-text {
	padding-left: 10px;
}
.logo-text p {
	margin: 0;
}
.logo-text.top {
	font-family: 'Lato-Bold', Arial, sans-serif;
	color: #2a535e;
}
.logo-text-bottom {
	font-family: 'Lato-Regular', Arial, sans-serif;
	color: #7a8f95;
}

#navbar {}
#navbar > ul {}
#navbar > ul > li {
	padding-top: 45px;
	padding-right: 15px;
	padding-left: 15px;
}
#navbar > ul > li.first {
	padding-left: 0;
}
#navbar > ul > li.last {
	padding-right: 0;
}
#navbar > ul > li > a{
	padding: 0;
	background-color: #fff;
	text-align: center;
	color: #4d7b87;
}
#navbar > ul > li:hover, #navbar > ul > li.active {
	border-top: 10px solid #2a535e;
	padding-top: 35px;
}
.menu {
	position: relative;
}
.menu > ul {
	display: none;
}
.menu:hover ul{
	z-index: 100;
	display: block;
	position: absolute;
	left: 50px;
	top: 30px;
	background: url('../img/page-bg.png');
}

.menu:hover ul > li {
	width: 147px;
	height: 30px;
	margin-left: 13px;
	padding: 7px 20px;
	text-align: left;
	background: #f7f7f7;
	padding-bottom: 30px;
}
.menu:hover ul > li:first-child {
	padding-top: 10px;
	border-top: 2px solid #d4d5d3;
}
.menu:hover ul > li:last-child {
	padding-bottom: 30px;
}
.menu:hover ul > li:hover, .menu:hover ul > li.active {
	border: 1px solid #d2cbcb; 
	background: #fff;
}
.menu:hover ul > li > a {
	text-decoration: none;
	color: #2a535e;
	font-family: 'Lato-Regular', Arial, sans-serif;
}


.carousel-caption {
	top: 40%;
}
.carousel-indicators {
	left: 50%;
	width: auto;
	bottom: -42px;
	border-top: 2px solid #2a535e;
}
.carousel-indicators li{
	padding: 20px 25px;
    border: 1px solid #c8c6c6;
    text-indent:0;
    width:188px;
    height: 80px;
    background-color:#fff;
    border-radius: 0;
    float: left;
}
.carousel-indicators li.active{
    text-indent:0;
    width:188px;
    height: 96px;
    /*border:none;*/
    background-color:#fff ;
    border-top: 1px solid #ccc;
    border-radius: 0;
    margin-top: -8px;
}
.carousel-indicators li p{ 
	margin: 0;
	font-size: 13px;
	color: #698087;
	font-family: 'Lato-Light', Arial, sans-serif;
}
.carousel-indicators li.active p {
	font-size: 14px;
	font-weight: bolder;
	color: #2a535e;
}
#slider .slide a.carousel-control {
	background-color: #196d5c;
	background-image: none;
	color: #fff;
	font-size: 50px;
	height: 60px;
	line-height: 50px;
	top: 40%;
	width: 40px;
	z-index: 100;
	  border-radius: 0;
}
#slider .slide a.left {
	left: 0;
}
#slider .slide a.right {
	right: 0;
}
#slider .slide a.carousel-control i {
	color: #fff;
}
#slider .slide a.carousel-control1 {
	background-color: #fff;
	background-image: none;
	color: #fff;
	font-size: 50px;
	height: 30px;
	line-height: 10px;
	top: 70%;
	width: 30px;
	z-index: 100;
	border-radius: 45%;
	border: 1px solid #606262;
}
#slider .slide a.left-1 {
	left: -10%;
}
#slider .slide a.right-1 {
	right: -10%;
}
.single-slider {}
.carousel-caption > h1 {
	color: #fff;
	font-family: 'Lato-BlackItalic', Arial, sans-serif;
}
.bg-white {
	height: 43px;
	background-color: #faf6f6;
}
.bg-gray {
	height: 30px;
	background-color: #e7e7e7;
}

#main-content {
	padding-top: 35px;
	padding-bottom: 64px;
}
.blockquote {
	padding-top: 5px;
}
.blockquote h3 {
	color: #2a535e;
	font-family: 'Lato-Black', Arial, sans-serif;
}
.blockquote blockquote {
	color: #2a535e;
	font-family: 'Lato-Italic', Arial, sans-serif;
	border: 1px solid #d2cbcb;
	border-left: 5px solid #2a535e;
	padding: 12px 30px 12px 13px;
	margin-bottom: 35px;
}
.blockquote p {
	color: #2a535e;
	font-family: 'Lato-Light', Arial, sans-serif;
}
.panel-container {
	margin-top: 35px;
}
.panel-container h2 {
	color: #2a535e;
	font-family: 'Lato-Black', Arial, sans-serif;
}
.panel {
	margin-bottom: 3px;
}
.panel-default > .panel-heading{
	background-color: #2a535e;
	padding: 0;
}
.panel-title {
	color: #fff;
	font-family: 'Lato-Light', Arial, sans-serif;
	display: inline-block;
	padding: 12px;
}
.panel-heading > span {
	float: right;
	padding: 10.5px;
	background-color: #1f987d;
	color: #fff;
	text-decoration: none;
}
.panel-body {
	padding: 20px 10px;
	color: #2a535e;
	font-family: 'Lato-Light', Arial, sans-serif;
}

.tab-container {

}
.tab-container h2 {
	font-family: 'Lato-Black', Arial, sans-serif;
	color: #2a535e;
}
.tab-container > ul > li {
	border: 1px solid #d2cbcb;
	margin-right: 1px;
}
.tab-container > ul > li.active {
	border: none;
}
.tab-container > ul > li > a {
	color: #2a535e;
	font-family: 'Lato-Regular',Arial, sans-serif;
}
.tab-container > ul > li.active > a {
	background-color: #2a535e;
	color: #fff;
} 
.tab-content {}
.tab-content > .tab-pane {
	border: 1px solid #d2cbcb;
	padding: 22px 15px 23px 20px;
}

.tweet {}
.tweet h3 {
	color: #2a535e;
	font-family: 'Lato-Black', Arial, sans-serif;
}


.tweet-content  {
	position: relative;
}
.twitter-content img {
	background: url('../img/tweet-bg.png');
	padding: 6px;
	position: absolute;
	top: 70px;
	left: 2px;
}
.twitter-text {
	margin-left: 27px;
	border: 1px solid #136956;
	padding: 10px 20px;
	border-radius: 10%;
}
.tweet-text {}
.tweet-text p {
	margin: 0;
	font-size: 11px;
	color: #2a535e;
	font-family: 'Lato-Bold','Lato-Light', Arial, sans-serif;
}  
.tweet-text p.date {
	padding-top: 5px;
	font-weight: bolder;
}

.side-menu {
}
.side-menu h3 {
	color: #2a535e;
	font-family: 'Lato-Black', Arial, sans-serif;
}
.side-menu ul {
	border: 1px solid #e7e3e3;
}
.side-menu ul li {
	border-bottom: 1px solid #e7e3e3;
	padding: 8px;
}
.side-menu ul li a{
	color: #2a535e;
	font-family: 'Lato-Bold','Lato-Light', Arial, sans-serif;
	text-decoration: none;
}
.side-menu ul li.active, .side-menu ul li:hover {
	background: #1f987d;
	border-left: 5px solid #2a535e;
}
.side-menu ul li.active a , .side-menu ul li:hover a {
	color: #fff;
}

.footer {
	background: #1f987d;
	padding-top: 27px;
	color: #fff;
}
.text-footer {}
.text-footer h5 {
	font-family: 'Lato-Black', Arial, sans-serif;
	padding-bottom: 20px;
	font-weight: bolder;
}
.text-footer p {
	font-family: 'Lato-Regular', Arial, sans-serif;
}
.text-footer ol {}
.text-footer ol li{
	padding-bottom: 15px;
	padding-left: 22px;
	text-decoration: none;
	font-family: 'Lato-Regular', Arial, sans-serif;
}
/*.text-footer img {
	background-image: url('../img/tweet-bg-foot.png');
	padding: 10px 5px;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
}*/
.elem-4 ol li{
	position: relative;
}
.elem-4 ol li:before {
	content: "\f10c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	position: absolute;
	left: 0;
	top: 2px;
	color: #34ab45;
}
.img-foot {
	padding-left: 0;
	padding-top: 15px;
}
/*.twitter-content {
	border: 1px solid #136956;
	margin-left: -4px;
	border-radius: 6%;
	padding-bottom: 44px;
}*/
.twitter-content p {
	color: #fff;
	font-family: 'Lato-Italic', Arial, sans-serif;
}
.twitter-content p.time {
	font-family: 'Lato-Bold', Arial, sans-serif;
	color: #0f4f41;
} 
.text-footer form {
	color: #a29d9d;
	padding-top: 10px;
}
.text-footer form input[type=text],.text-footer form input[type=email], .text-footer form textarea {
	width: 263px;
	margin-bottom: 6px;
}
.text-footer form textarea {
	position: relative;
	margin-bottom: 0;
}
.text-footer form input[type=submit] {
	position: absolute;
	bottom: 0;
	right: 15px; 
}
.mar-15 {
	margin-bottom: 15px;
}
.social {
	padding-top: 15px;
}
.social li {
	display: inline-block;
}
.soscial li a {
}
.social li a i {
	background: #fff;
	color: #a9a9a7;
	border-radius: 45%;
}
.social li a:hover i {
	color: #2a535e;
	background: rgba(42,83,84,0.6);
}
.social li a.facebook-icon i {
	padding: 7px 10px;
}
.social li a.tumblr-icon i {
	padding: 7px 10px;
}
.social li a.google-icon i {
	padding: 7px;
}
.copy-right {
	border-top: 1px solid #116c58;
}
@media (min-width: 992px) and (max-width: 1199px){
	.carousel-indicators {
		left: 40%;
		width: auto;
		bottom: -42px;
		border-top: 2px solid #2a535e;
	}
	.carousel-indicators li{
		padding: 20px 25px;
	    border: 1px solid #c8c6c6;
	    text-indent:0;
	    width:188px;
	    height: 80px;
	    /*border:none;*/
	    background-color:#fff;
	    border-radius: 0;
	    float: left;
	}
	.carousel-indicators li.active{
	    text-indent:0;
	    width:188px;
	    height: 96px;
	    background-color:#fff ;
	    border-top: 1px solid #ccc;
	    border-radius: 0;
	    margin-top: -8px;
	}
	.tweet h3 {
		font-size: 21px;
	}
	.tweet-img {
		padding: 0;
	}
	.side-menu h3 {
		font-size: 21px;
	}
	.text-footer form input[type=text],.text-footer form input[type=email], .text-footer form textarea {
		width: 213px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.tweet h3 {
		font-size: 15px;
	}
	.tweet-img {
		padding: 0;
	}
	.side-menu h3 {
		font-size: 15px;
	}
	.text-footer form input[type=text],.text-footer form input[type=email], .text-footer form textarea {
		width: 344px;
	}
}
@media (max-width: 767px) {
	.navbar-header > button {
		display: inline-block;
		float: right;
		position: relative;
		text-align: center;
		padding-top: 38px;
	}
	.navbar-header > button > span.icon-bar {
		width: 15px;
		height: 2px;
		background-color: #ccc;
		display: block;
	}
	#navbar {
		background-color: #fff;
		float: none;
	}
	#navbar > ul > li {
		padding: 0;
		/*padding-bottom: 15px;*/
	}
	#navbar > ul > li:hover,#navbar > ul > li:active {
		border: none;
		padding: 0;
	}
	#navbar > ul > li > a{
		padding-bottom: 15px;
		text-align: center;
		background: #ccc;
	}
	#navbar > ul > li:hover > a {
		background: rgba(42,83,84,0.6);
		color: #2a535e;
	}
	.carousel-caption {
		top: 25%;
	}
	.carousel-caption > h1 {
		font-size: 20px;
	}
	.text-footer form input[type=text],.text-footer form input[type=email], .text-footer form textarea {
		width: 100%;
	}
}