#portfolio {
	padding-top: 40px;
    padding-bottom: 115px;
}
ul.portfolio-filter {
	padding-bottom: 45px;
}
.portfolio-filter li {
	display: inline-block;
}
.portfolio-filter li a {
    color: #2a535e;
	padding: 7px 12px;
	transition: all 0.5s;
	font-family: 'Lato-Bold', Arial, sans-serif;
    background: #fff;
    border: 1px solid #c1b9b9;
    text-decoration: none;
}
.mar-5 {
    margin-left: -5px;
}
.portfolio-filter li a.active, #portfolio li:hover a {
	color: #fff;
    background: #1f987d;
}

.portfolio-item {
	padding-bottom: 40px;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-box a.porfolio-popup {
    display: block;
}

.portfolio-box .portfolio-image-wrap {
    display: block;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.portfolio-box .portfolio-image-wrap img {
    width: 100%;
}

.portfolio-box:hover .portfolio-image-wrap {
    transition: all 2s cubic-bezier(0.23, 0.5, 0.32, 0.7);
    -o-transition: all 2s cubic-bezier(0.23, 0.5, 0.32, 0.7);
    -moz-transition: all 2s cubic-bezier(0.23, 0.5, 0.32, 0.7);
    -webkit-transition: all 2s cubic-bezier(0.23, 0.5, 0.32, 0.7);
    width: 100%;
}

.portfolio-box .portfolio-caption-mask {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8) none repeat;
	position: absolute;
    height: 80%;
    width: 80%;
    left: 25px;
    top: 25px;
    opacity: 0;
	padding-top: 25%;
    transition: all 0.5s ease-in-out 0s;
    transform: scale(0);
}
.portfolio-box .icon {
    background: rgba(0, 0, 0, 0.7) none repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
    transform: scale(0);
}
.portfolio-box .icon img {
    padding: 15px 20px 30px 33px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    opacity: 1;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7) none repeat;
    border-radius: 50%;
}
.portfolio-box:hover .icon {
    transform: scale(1);
    opacity: 1;
}
.portfolio-box:hover .portfolio-caption-mask {
	transform: scale(1);
    opacity: 0.6;
}
.portfolio-box .portfolio-caption-mask h5 {
    color: #fff;
    margin-bottom: 5px;
    font-family: "Lato-Black", Arial, sans-serif;
}

.portfolio-box .portfolio-caption-mask p {
    margin-bottom: 0px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Lato-Black", Arial, sans-serif;
}